keep the original HTTP request headers case and order

The `/headers` endpoint seem to sort the request headers alphabetically. I was trying to use httpbin to research on HTTP clients fingerprinting which makes use of headers case and order.

go-httpbin uses the golang stdlib's built-in HTTP server, which exposes the incoming request headers as a `map[string][]string`.  By the time our application code can access the headers all ordering information is lost, and it is not worth the effort or complexity that would be required to try to determine and maintain the original order.

Additionally, per [Section 4.2 of RFC 2616](https://www.rfc-editor.org/rfc/rfc2616#section-4.2), "the order in which header fields with differing field names are received is not significant."  (Ordering does matter for multiple headers with the same field name, but we are already maintaining that order.)